/* Importing Google Fonts */
body {
  font-family: "Outfit", sans-serif;
}

/* Tailwind Colors */
:root {
  --color-Ltext: #060f08;
  --color-Lbg: #f0f9f2;
  --color-Lprimary: #4abf69;
  --color-Lprimary2: #4abf6944;
  --color-Lsecondary: rgb(138, 221, 224);
  --color-Lsecondary2: rgba(138, 221, 224, 0.659);
  --color-Ltertiary: #dfea10;
  --color-Ltertiary2: rgba(223, 234, 16, 0.494);
  --color-Dtext: #f0f9f2;
  --color-Dbg: #060f08cc;
  --color-Dprimary: #40b55fcb;
  --color-Dprimary2: #40b55f74;
  --color-Dsecondary: #2aa8ac;
  --color-Dsecondary2: #1f7275a8;
  --color-Dtertiary: #e4ef15;
  --color-Dtertiary2: #c0c642;
}

/* Light Mode */
.text-Ltext {
  color: var(--color-Ltext);
}
.text-Lbg {
  color: var(--color-Lbg);
}
.text-Lprimary {
  color: var(--color-Lprimary);
}
.text-Lprimary2 {
  color: var(--color-Lprimary2);
}
.text-Lsecondary {
  color: var(--color-Lsecondary);
}
.text-Lsecondary-2 {
  color: var(--color-Lsecondary2);
}
.text-Laccent {
  color: var(--color-Ltertiary);
}
.text-Laccent2 {
  color: var(--color-Ltertiary2);
}
.bg-Ltext {
  background-color: var(--color-Ltext);
}
.bg-Lbg {
  background-color: var(--color-Lbg);
}
.bg-Lprimary {
  background-color: var(--color-Lprimary);
}
.bg-Lprimary2 {
  background-color: var(--color-Lprimary2);
}
.bg-Lsecondary {
  background-color: var(--color-Lsecondary);
}
.bg-Lsecondary2 {
  background-color: var(--color-Lsecondary2);
}
.bg-Laccent {
  background-color: var(--color-Ltertiary);
}
.bg-Laccent2 {
  background-color: var(--color-Ltertiary2);
}

/* Dark Mode */
.text-Dtext {
  color: var(--color-Dtext);
}
.text-Dbg {
  color: var(--color-Dbg);
}
.text-Dprimary {
  color: var(--color-Dprimary);
}
.text-Dprimary2 {
  color: var(--color-Dprimary2);
}

.text-Dsecondary {
  color: var(--color-Dsecondary);
}
.text-Dsecondary-2 {
  color: var(--color-Dsecondary2);
}
.text-Daccent {
  color: var(--color-Dtertiary);
}
.text-Daccent2 {
  color: var(--color-Dtertiary2);
}
.bg-Dtext {
  background-color: var(--color-Dtext);
}
.bg-Dbg {
  background-color: var(--color-Dbg);
}
.bg-Dprimary {
  background-color: var(--color-Dprimary);
}
.bg-Dprimary2 {
  background-color: var(--color-Dprimary2);
}
.bg-Dsecondary {
  background-color: var(--color-Dsecondary);
}
.bg-Dsecondary2 {
  background-color: var(--color-Dsecondary2);
}
.bg-Daccent {
  background-color: var(--color-Dtertiary);
}
.bg-Daccent2 {
  background-color: var(--color-Dtertiary2);
}
